@import url('bootstrap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {

  padding: 1.5rem 0;

  .container {

    padding: 0;

    .row {

      .logo {}

      .selector {

        display: flex;

        ul {

          display: flex;
          flex-direction: row;
          align-items: center;
          flex-grow: 1;

          li {

            text-align: center;
            width: 10%;

          }

        }
      }
    }
  }
}

main {


  #backOne {

    background-color: #1c1c1c;

  }

  #upper {


    p {

      padding: 2rem 0;

    }

  }

  #backTwo {

    background-color: #0282f9;

  }

  #lower {

    padding: 2rem 1rem;

    ul {

      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

  }

}

footer {

  #backDraw {

    height: 50vh;
    background-image: url('/img/footer-bg.jpg');
    background-repeat: round;

  }

  #logo {

    text-align: right;


  }

  #backFinal {

    height: 11vh;
    background-color: #303030;

  }

}