@import url('bootstrap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {

  padding: 1.5rem 0;

  .container {

    padding: 0;

    .row {

      .logo {}

      .selector {

        display: flex;

        ul {

          display: flex;
          flex-direction: row;
          align-items: center;
          flex-grow: 1;

          li {

            text-align: center;
            width: 10%;

          }

        }
      }
    }
  }
}

main {


  #backOne {

    background-color: black;

  }

  #upper {


    p {

      padding: 2rem 0;

    }

  }

  #backTwo {

    background-color: #0282f9;

  }

}

footer {


  #links {

    background-image: url('./assets/img/footer-bg.jpg');

  }

  #socials {

    background-color: #303030;

  }
}